<div class="panel-body">
    <div class="panel-title" style="font-weight: bold; font-size: 14px; height: 40px;line-height: 40px;">步骤</div>
    <div style="padding-left: 2em">{$info.step}</div>
    <div class="panel-title" style="font-weight: bold; font-size: 14px; height: 40px; line-height: 40px;">结果</div>
    <div style="padding-left: 2em">{$info.result}</div>
    <div class="panel-title" style="font-weight: bold; font-size: 14px; height: 40px;line-height: 40px;">期望</div>
        <div style="padding-left: 2em">{$info.wish}</div>
</div>