<div class="panel-body table-default" >
    <table class="table" id="substory">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>优先级</th>
            <th>状态</th>
            <th>当前处理人</th>
            <th>创建人</th>
            <!--<th></th>-->
        </tr>
        </thead>
        <tbody>
        {if condition="$needList neq null"}
        {volist name="needList" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td><a href="../Need/desc?needid={$vo.id}">{$vo.needName}</a></td>
            <td>{$vo.level}</td>
            <td>{$vo.status}</td>
            <td>{$vo.dealname}</td>
            <td>{$vo.creatName}</td>
            <!--<td><a href="javascript:;" onclick="cancelLink(this,'bug','need')" attr_id="{$info.id}" attr_cancelID="{$vo.id}" title="取消关联"><i class="fa fa-chain-broken"></i></a></td>-->
        </tr>
        {/volist}
        {else /}
            <tr>
                <td colspan="5">此缺陷暂时没有关联需求</td>
            </tr>
        {/if}
        </tbody>
    </table>
</div>