<div class="panel-body">
    <div class="panel-title" style="font-weight: bold; font-size: 14px; height: 40px; line-height: 40px;">前置条件</div>
    <div style="padding-left: 2em">{$cases.precondition}</div>
    <div class="panel-title" style="font-weight: bold; font-size: 14px; height: 40px;line-height: 40px;">用列步骤</div>
    <div style="padding-left: 2em">{$cases.step}</div>
    <div class="panel-title" style="font-weight: bold; font-size: 14px; height: 40px;line-height: 40px;">预期结果</div>
    <div style="padding-left: 2em">{$cases.result}</div>
</div>