{include file="public:header" /}
<div class="row row-default" >
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>待办事项</h5>
                <div class="ibox-tools dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" title="选择项目">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-project">
                        <li><a href="timeline.html#">项目1</a>
                        </li>
                        <li><a href="timeline.html#">项目2</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row row-default timeline">
                    <div class="col-xs-2 timeline-date no-padding">
                        <i class="fa fa-briefcase"></i><br>今天到期
                        <br>
                        <small class="font-red">(4)</small>
                    </div>
                    <div class="col-xs-10 timeline-content no-padding">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="wi-60"><span class="sign green">STORY</span></td>
                                    <td><a href="">需求测试2</a></td>
                                    <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                    <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>1</td>
                                    <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                                </tr>
                                <tr>
                                    <td class="wi-60"><span class="sign green">STORY</span></td>
                                    <td><a href="">需求测试2</a></td>
                                    <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                    <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>2</td>
                                    <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                                </tr>
                                <tr>
                                    <td class="wi-60"><span class="sign green">STORY</span></td>
                                    <td><a href="">需求测试2</a></td>
                                    <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                    <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>3</td>
                                    <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                                </tr>
                                <tr>
                                    <td class="wi-60"><span class="sign green">STORY</span></td>
                                    <td><a href="">需求测试2</a></td>
                                    <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                    <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>4</td>
                                    <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row row-default timeline">
                    <div class="col-xs-2 timeline-date no-padding">
                        <i class="fa fa-history"></i><br>本周到期
                        <br>
                        <small class="font-red">(4)</small>
                    </div>
                    <div class="col-xs-10 timeline-content no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="wi-60"><span class="sign green">STORY</span></td>
                                <td><a href="">需求测试2</a></td>
                                <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>4</td>
                                <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                            </tr>
                            <tr>
                                <td class="wi-60"><span class="sign green">STORY</span></td>
                                <td><a href="">需求测试2</a></td>
                                <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>3</td>
                                <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                            </tr>
                            <tr>
                                <td class="wi-60"><span class="sign green">STORY</span></td>
                                <td><a href="">需求测试2</a></td>
                                <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>1</td>
                                <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                            </tr>
                            <tr>
                                <td class="wi-60"><span class="sign green">STORY</span></td>
                                <td><a href="">需求测试2</a></td>
                                <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>规划中</td>
                                <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>2</td>
                                <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>2017-4-28</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row row-default timeline">
                    <div class="col-xs-2 timeline-date no-padding">
                        <i class="fa fa-codepen"></i><br>已过期
                        <br>
                        <small class="font-red">(0)</small>
                    </div>
                    <div class="col-xs-10 timeline-content no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="text-align: center; background-color:#F9FAFC ">暂无未处理的过期事项（已预计结束时间为准）</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row row-default timeline">
                    <div class="col-xs-2 timeline-date no-padding">
                        <i class="fa fa-bug"></i><br>其他
                        <br>
                        <small class="font-red">(2)</small>
                    </div>
                    <div class="col-xs-10 timeline-content no-padding">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="wi-60"><span class="sign red">BUG</span></td>
                                    <td><a href="">BUG1</a></td>
                                    <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>已拒绝</td>
                                    <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>高</td>
                                    <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>--</td>
                                </tr>
                                <tr>
                                    <td class="wi-60"><span class="sign red">BUG</span></td>
                                    <td><a href="">BUG2</a></td>
                                    <td class="wi-120"><i class="fa fa-code-fork font-primary ma-ri-10"></i>待接受</td>
                                    <td class="wi-80"><i class="fa fa-bookmark-o font-primary ma-ri-10" title="优先级"></i>紧急</td>
                                    <td class="wi-120"><i class="fa fa-clock-o font-primary ma-ri-10" title="预计结束"></i>--</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
