{include file="public:header" /}
<div class="row row-default" >
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>消息中心</h5>
                <div class="ibox-tools">
                    <em>（2条消息）</em>
                </div>
            </div>
            <div class="ibox-content">
                <div class="project-list">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="user font-primary">
                                    <img alt="image" class="img-circle head-img ma-ri-10" src="{:IND_URL}img/user-icon.jpg">小胖
                                </td>
                                <td>
                                    给您分配了一个缺陷，状态为已解决<br>
                                    <small><span class="sign red ma-ri-10">BUG</span><a href="">bug1</a></small>
                                </td>
                                <td class="time">
                                    2017-05-02
                                </td>
                            </tr>
                            <tr>
                                <td class="user font-primary">
                                    <img alt="image" class="img-circle head-img ma-ri-10" src="{:IND_URL}img/user-icon.jpg">小胖
                                </td>
                                <td>
                                    给您分配了一个缺陷，状态为新建<br>
                                    <small><span class="sign red ma-ri-10">BUG</span><a href="">bug1</a></small>
                                </td>
                                <td class="time">
                                    2017-05-02
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: center; background-color:#F9FAFC">暂时没有新消息</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public:footer" /}
