<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>登录</title>  
    <link rel="stylesheet" href="{:IND_URL}css/pintuer.css">
    <link rel="stylesheet" href="{:IND_URL}css/admin.css">
    <script src="{:IND_URL}bootstrap/jquery.min.js"></script>
    <script src="{:IND_URL}js/pintuer.js"></script>  
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">           
            </div>         
            <form action="{:url('Index/login')}" method="post">
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>tapd</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="name" placeholder="域账号" data-validate="required:请填写账号" value=""/>
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" name="password" placeholder="域密码" data-validate="required:请填写密码" value=""/>
                            <span class="icon icon-key margin-small"></span>
                        </div>
                        <h3 style="color:red">{:$status}<h3>
                    </div>
                    {:token('__token__', 'sha1')}
                    
                </div>
                <div style="padding:30px;"><input type="submit" class="button button-block bg-main text-big input-big" value="登录"></div>
            </div>
            
            </form>    
          
        </div>
    </div>
</div>

</body>
</html>